@{
    ViewData["Title"] = " فعالسازی حساب کاربری";
    Layout = null;
}
<partial name="PartialViews/_MetaTags" />
<title>@ViewData["Title"]</title>
<partial name="PartialViews/_Link" />

<div class="page-wrapper">
    <partial name="PartialViews/_RegisterAndLoginHeader" />
    <main class="page-content page-auth">
        @if (ViewBag.isActivated == true)
        {
            <div class="auth-container">
                <div class="auth-title mb-3">تبریک میگوییم!</div>

                <div class="auth-box ui-box">
                    <div class="fs-6 fw-bold text-dark text-center mb-3">حساب کاربری شما ساخته شد</div>
                    <div class="fs-7 fw-bold text-muted text-center mb-3">
                        حساب کاربری شما با موفقیت ساخته شد حال میتوانید وارد حساب کاربری خود شده و با تکمیل اطلاعات حساب کاربری خود به کلیه امکانات و سرویس‌ها و سرویس‌های وابسته به آن دسترسی داشته باشید
                    </div>
                    <a href="/UserPanel" class="btn btn-block btn-primary mb-3"><i class="ri-user-6-fill me-2"></i>تکمیل اطلاعات کاربری</a>
                </div>
            </div>
        }
        else
        {
            <div class="auth-container">
                <div class="auth-title mb-3">خطای فعالسازی</div>

                <div class="auth-box ui-box">
                    <div class="fs-6 fw-bold text-dark text-center mb-3">عملیات فعالسازی با شکست مواجه شد!</div>
                    <div class="fs-7 fw-bold text-muted text-center mb-3">
                        حساب کاربری شما با موفقیت ساخته شد حال میتوانید وارد حساب کاربری خود شده و با تکمیل اطلاعات حساب کاربری خود به کلیه امکانات و سرویس‌ها و سرویس‌های وابسته به آن دسترسی داشته باشید
                    </div>
                    <a href="/" class="btn btn-block btn-primary mb-3"><i class="ri-user-6-fill me-2"></i>بازگشت به صفحه اصلی</a>
                </div>
            </div>
        }
    </main>
    <partial name="PartialViews/_RegisterAndLoginFooter" />
</div>
<partial name="PartialViews/_Scripts" />
