@model ResetPasswordViewModel
@{
    ViewData["Title"] = " بازیابی رمز عبور";
    Layout = null;
}
<partial name="PartialViews/_MetaTags" />
<title>@ViewData["Title"]</title>
<partial name="PartialViews/_Link" />

<div class="page-wrapper">
    <partial name="PartialViews/_RegisterAndLoginHeader" />

    <main class="page-content page-auth">
       
        <div class="auth-container">
            <div class="auth-title mb-3">بازیابی رمز عبور</div>
            
            <div class="auth-box ui-box">
               
                <form asp-controller="User" asp-action="ResetPassword" method="post" class="auth-form">
                   
                    <div class="form-element-row mb-3">
                        <label class="label">رمز عبور جدید</label>
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                 
                    <div class="form-element-row mb-3">
                        <label class="label">تکرار رمز عبور جدید</label>
                        <input asp-for="RepeatNewPassword" type="password" class="form-control" placeholder="">
                        <span asp-validation-for="RepeatNewPassword" class="text-danger"></span>
                    </div>
                   
                    <div class="form-element-row">
                        <button class="btn btn-primary">بازیابی رمز عبور</button>
                    </div>
                  
                </form>
                
            </div>
          
        </div>
      
    </main>
    <partial name="PartialViews/_RegisterAndLoginFooter" />

</div>

<partial name="PartialViews/_Scripts" />

