
<div class="page-sidebar" id="sidebar">
    
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">به جستجوی صفحات، گزارشات، پیام ها و ایمیل خود بپردازید</div>
    </div>
   
    <ul class="nav sidebar-menu">
        
        <li>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> صفحه اصلی </span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text"> مدیریت کاربران </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-action="Index" asp-controller="UserManagement">
                        <span class="menu-text">لیست کاربران</span>
                    </a>
                </li>
               
            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <span class="menu-icon glyphicon glyphicon-briefcase"></span>
                <span class="menu-text"> مدیریت محصولات </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-action="GetAllCategories" asp-controller="Product">
                        <span class="menu-text"> دسته بندی </span>
                    </a>
                </li>
                <li>
                    <a asp-area="Admin">
                        <span class="menu-text">   محصولات</span>
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <span class="menu-icon glyphicon glyphicon-cog"></span>
                <span class="menu-text"> تنطیمات سایت </span>
                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a asp-area="Admin" asp-action="Index" asp-controller="AboutUs">
                        <span class="menu-text">  درباره ما </span>
                    </a>
                </li>
                <li>
                    <a >
                        <span class="menu-text">   تماس با ما</span>
                    </a>
                </li>

            </ul>
        </li>
    </ul>
    
</div>

