@using PersianDate.Standard
@using ShopCenter.Application.Convertors
@using ShopCenter.Domain.ViewModels.ContactUs.Admin
@model ContactUsAnswerEmailViewModel
<div dir="rtl">

<p>کاربر عزیز سلام </p>
    <p>شما در تاریخ @Model.CreatDateTime.ToFa("d MMM yyyy") برای ما پیامی با موضوع @Model.Subject فرستاده اید</p>
<br />
<h3 style="color:darkviolet"> پیام شما : </h3>
<p>
    @Model.Massage
</p>
<br />
<hr />
<h3 style="color:darkviolet"> پاسخ ما : </h3>
<p>
    @Model.Answer

</p>
</div>